img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 1px solid #333;
}

h1 {
    margin: 0 auto;
    position: absolute;
    top: 30%;
}

.tprincipal{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    font: bold;
}