

<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image" width="100%" height="80%" alt="Random slide">
      </div>
      <div class="carousel-caption">
        <h3 class="titulo">LA FAROLA DE BERAZATEGUI</h3>
        <p>RECETAS TRADICIONALES</p>
       

        <p>Av. Siempre Viva 123, Berazategui</p>
        <div><button class="btn btn-outline-info" (click)='ingreso()'>Comenzar a disfrutar</button></div>
      </div>
    </ng-template>
  </ngb-carousel>
  

  <div class="row fondo" >
    <div class="col-3">

  <div class="card fondo" style="width: 18rem;">
    <img src="../../../assets/img/cava.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text color">Especialidad en vinos</p>
    </div>
  </div>
  </div>

  <div class="col-3">
  <div class="card fondo" style="width: 18rem;">
    <img src="../../../assets/img/asador.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text color">Asador Criollo</p>
    </div>
  </div>
</div>

<div class="col-3">
  <div class="card fondo" style="width: 18rem;">
    <img src="../../../assets/img/postres.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text color">No dejes de probar nuestros postres</p>
    </div>
  </div>
</div>


<div class="col-3">
    <div class="card fondo" style="width: 18rem;">
      <img src="../../../assets/img/artesanal.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text color">Elaboramos nuestra propia cerveza</p>
      </div>
    </div>
  </div>

</div>
  

  
  <!-- <div class="btn-group" role="group" aria-label="Carousel toggle controls">
    <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
    <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
  </div> -->
