 <nav>
    <div> 
        
        <div class="col-3 profile">
            <tr>
            <td><img *ngIf="user" src="{{user.image}}" class="profile-pic" [ngClass]="open ? 'active': ''" (click)="toggleSidebar()"></td>

            <td><label *ngIf="user">{{user.name}}</label></td>
        </tr>
        </div>
    </div>
</nav>

<div class="sidebar" [ngClass]="open ? '' : 'collapsed'">
    <div class="top-row">
        <app-sidebar-option name="Ver mi perfil" link="/cliente/profile"></app-sidebar-option>
        <app-sidebar-option name="Realizar pedido" link="/cliente"></app-sidebar-option>
        <app-sidebar-option name="Buscar pedido" link="buscar"></app-sidebar-option>
        <app-sidebar-option logOut=true></app-sidebar-option>
    </div>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
