<div class="align-center mar-top-1" *ngIf="this.productosPedidosOrdenadosAsc == null && this.productosPedidosOrdenadosDesc == null">
        <div class="row top-row page-title">
            <div class="col-3"></div>
            <div class="col-6"></div>
            <div class="col-3"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3 align-center">
    
            </div>
            <div class="col-6">
    
            </div>
            <div class="col-3">
    
            </div>
        </div>
    
        <hr>
        <app-spinner></app-spinner>
    </div>


    <div class="container" *ngIf="this.cancelledOrders != null">
            <div class="row" *ngIf="this.productosPedidosOrdenadosAsc != null && this.productosPedidosOrdenadosDesc != null">
                <div class="col-3"></div>
                <div class="col-6"></div>
                <div class="col-3"></div>
                <hr>
                <div class="col-3"></div>
                <div class="col-6"></div>
                <div class="col-3"></div>
                <hr>
                <div class="col-3">
                </div>
                <div class="col-6">
                    <button class="btn btn-outline-info full-width" data-toggle="modal" data-target="#settingsModal">Buscar por fecha</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-info full-width" (click)="exportCSV()">Exportar a CSV<i
                        class="fas fa-angle-double-down" ></i></button>
                </div>
        
                <div class="row">
                    <div class="col-3 align-center">
                    </div>
                    <div class="col-6 align-center">
                    </div>
                    <div class="col-3 align-center">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" *ngIf="this.productosPedidosOrdenadosAsc">
                <div class="col-3 align-center">
                </div>
                <div class="col-6 align-center">
                    <h2>Top 3 mas vendidos</h2>
                </div>
                <div class="col-3 align-center">
                </div>

        <div class="card col-3 align-center" *ngIf="this.productosPedidosOrdenadosAsc != null">
            <img src="../../../../../assets/img/1.png" class="card-img-top">
            <div class="card-body">
                <!-- <h5 class="card-title">{{this.productosPedidosOrdenadosAsc[0][0]}}</h5>
                <p class="card-text">El articulo {{this.productosPedidosOrdenadosAsc[0][0]}} fue el mas solicitado con {{this.productosPedidosOrdenadosAsc[0][1]}}
                    ventas </p> -->
                    <h5 class="card-title">{{top1}}</h5>
                    <p class="card-text">El articulo {{top1}} fue el mas solicitado con {{top1n}}
                        ventas </p>
            </div>
        </div>

        <div class="card col-3 align-center" *ngIf="this.productosPedidosOrdenadosAsc != null">
            <img src="../../../../../assets/img/2.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{top2}}</h5>
                <p class="card-text">En segundo lugar se encuentra {{top2}} con {{top2n}}
                    ventas</p>
            </div>
        </div>

        <div class="card col-3 align-center" *ngIf="this.productosPedidosOrdenadosAsc != null">
            <img src="../../../../../assets/img/3.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{top3}}</h5>
                <p class="card-text">El tercer puesto es para {{top3}} con {{top3n}} ventas
                </p>
            </div>
        </div>

    </div>

    <div class="row" *ngIf="this.productosPedidosOrdenadosAsc">
            <div class="card col-10 align-center">

            <p-chart type="bar" [data]="graficobarras"  [options]="OGB" width="40vw" height="80vh"></p-chart>
             
            </div>
    </div>


    <div class="row" *ngIf="this.productosPedidosOrdenadosDesc">
        <div class="col-3 align-center">
        </div>
        <div class="col-6 align-center">
            <h2>Top 3 menos vendidos</h2>
        </div>
        <div class="col-3 align-center">
        </div>
        <div class="card col-3 align-center" *ngIf="this.productosPedidosOrdenadosDesc != null">
            <img src="../../../../../assets/img/antesqueelante.png" class="card-img-top">
            <div class="card-body">
                <div class="card-body">
                    <h5 class="card-title">{{top1m}}</h5>
                    <p class="card-text">El articulo {{top1m}} no se vendió tanto, tuvo
                        {{top1mn}} ventas </p>
                </div>
            </div>
        </div>
        <div class="card col-3 align-center" *ngIf="this.productosPedidosOrdenadosDesc != null">
            <img src="../../../../../assets/img/anteultimo.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{top2m}}</h5>
                <p class="card-text">El articulo {{top2m}} fue un poco menos solicitado que el anterior
                    con
                    {{top2mn}} ventas </p>
            </div>
        </div>
        <div class="card col-3 align-center" *ngIf="this.productosPedidosOrdenadosDesc != null">
            <img src="../../../../../assets/img/ultimo.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{top3m}}</h5>
                <p class="card-text">El articulo {{top3m}} fue lo menos solicitado con
                    {{top3mn}} ventas </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-center">

        </div>
        <div class="col-6 align-center">
            <h2>Pedidos Cancelados</h2>
        </div>
        <div class="col-3 align-center">

        </div>


        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Codigo de pedido</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="order" *ngFor="let order of cancelledOrders | async">
                        <td><label>{{order.codeID}}</label></td>
                        <td>{{order.timestamp | date:'hh:mm dd/MM/yyyy'}}</td>
                        <td>{{order.state}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-3 align-center">
        </div>
        <div class="col-6 align-center">
            <h2>Pedidos no entregados en tiempo estipulado</h2>
        </div>
        <div class="col-3 align-center">
        </div>


        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Codigo de pedido</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Demora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="order" *ngFor="let order of delayedOrders | async">
                        <td><label>{{order.codeID}}</label></td>
                        <td>{{order.timestamp | date:'hh:mm dd/MM/yyyy'}}</td>
                        <td>{{order.delayed | timeleft}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
</div>


<!-- Settings modal -->
<div class="modal fade" id="settingsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <h3 class="align-center">Personalizar Busqueda</h3>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <hr class="mar-top-1">
                    <form [formGroup]="settingsForm" (ngSubmit)="SendSettings()">

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="row middle-row">
                                    <div class="col-6">
                                        <div class="col-12">
                                            <label>Desde fecha:</label>
                                        </div>
                                        <div>
                                            <input type="date" name="fechaInicio" formControlName="fechaInicio"
                                                (change)="setDate()">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-12">
                                            <label>Hasta fecha:</label>
                                        </div>
                                        <div>
                                            <input type="date" name="fechaFin" formControlName="fechaFin"
                                                (change)="setDate(false)">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </form>

                    <hr class="mar-top-1">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="btn-group full-width">
                                <button class="btn btn-outline-danger" title="Cancelar" (click)="Cancel()"
                                    data-dismiss="modal"><i class="fas fa-times"></i></button>

                                <button class="btn btn-outline-success" title="Filtrar tabla" (click)="search()"
                                    data-dismiss="modal"><i class="fas fa-check"></i></button>

                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
